body{
    margin: 0;
    text-align: center;
}
.slide-container{
    width: 1350px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

img{
    height: 800px;
    width: 1350px;
}
.image-container{
    width: 4050px;
    height: 2400px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
}
.slider-image{
    float: left;
    margin: 0px;
    padding: 0px;
}
.button-container{
    top: -20px;
    position: bottom;
}
.slider-button{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: black;
}
#slider-image-1:target ~ .image-container{
    left: 0px;
}
#slider-image-2:target ~ .image-container{
    left: -1350px;
}
#slider-image-3:target ~ .image-container{
    left :-2700px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flex-container > a > div {
    background-color: whitesmoke;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  .flex-container > div {
    background-color: whitesmoke;
    margin: 10px;
    padding: 20px;
    /* font-size: 30px; */
  }

/* Bordered form */
form.login {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgb(37, 46, 37);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
.current_services{
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
  width: 50%;
}
.types{
  width: 500;
}

table, th, td{
  border: 1px solid black;
}